<div class="container-fluid">
  <h2>{{quiz.name}}</h2>
  <ul class="list-group">
    <li *ngFor="let question of questions" class="list-group-item mb-2">
      <div [ngSwitch]="determineQuestionType(question)">
        <div *ngSwitchCase="'essay'">
          <h3>{{question.title}}</h3>
          <h4>{{question.description}}</h4> <br/>
          <textarea [(ngModel)]='submission[question.id]' class="form-control" rows="4" cols="50"></textarea>
        </div>
        <div *ngSwitchCase="'trueFalse'">
          <h1>{{question.title}}</h1>
          <h3>{{question.description}}</h3>
        </div>
        <div *ngSwitchCase="'multipleChoice'">
          <h1>{{question.title}}</h1>
          <h3>{{question.description}}</h3>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="chickenEgg" value="chicken" ng-model="formData.chickenEgg">
                Chicken
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="chickenEgg" value="egg" ng-model="formData.chickenEgg">
                Egg
              </label>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'fillInBlanks'">
          <h1>{{question.title}}</h1>
          <h3>{{question.description}}</h3>
        </div>
      </div>
    </li>
  </ul>
  <button class="btn btn-danger" (click)="cancel()">Cancel</button>
  <button class="btn btn-success ml-2" (click)="submit(submission)">Submit</button>
</div>
