<div class="container-fluid">
  <h2>Quiz: {{quizId}}</h2>
  <ul class="list-group">
    <li *ngFor="let question of questions" class="list-group-item">
      <div [ngSwitch]="question.type">
        <div *ngSwitchCase="quiz.essay">
          <h1>Essay Question</h1>
          <textarea [(ngModel)]="submission[question.id]" class="form-control"></textarea>
        </div>
        <div *ngSwitchCase="'trueFalse'">

        </div>
        <div *ngSwitchCase="'multipleChoice'">

        </div>
        <div *ngSwitchCase="'fillInBlanks'">

        </div>
      </div>
    </li>
  </ul>
  <button class="btn btn-success" (click)="submit(submission)">Submit</button>
</div>
