<div class="container-fluid">
  <h1>Course Navigator ({{courses.length}})</h1>

  <div class="row">
    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item active">Courses</li>
        <li *ngFor="let course of courses"
            (click)="findSectionsForCourse(course.id)"
            class="list-group-item">
          {{course.title}}
        </li>
      </ul>
    </div>
    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item active">Sections</li>
        <li *ngFor="let section of sections"
            class="list-group-item">
          <a routerLink="/admin/course/{{courseId}}/section/{{section._id}}">{{section.name}}</a>
          <span class="pull-right"><i class="fa fa-trash" (click)="removeSection(section._id)"></i></span>
        </li>
        <li class="list-group-item">
          <i class="fa fa-plus"></i>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <app-section-list></app-section-list>
    </div>
  </div>

  <a routerLink="/home">Home</a>
  <a routerLink="/home" class="ml-2">Profile</a>
</div>

